<div class="method__container">
  <div class="method">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 method__image method--signup">
        </div>
        <div class="col-lg-6 mt-5">
          <div class="method__form">
            <div class="method__form__title">
              <span>Signup to your account</span>
              <p>Please enter your email</p>
            </div>
            <div class="method__form__input">
              <i class="fa-solid fa-envelope"></i>
              <input
                type="text"
                id="signup__email"
                placeholder="Email"
                oninput="javascript:validateEmail()"
              />
            </div>
            <span id="email-error">Email must be in a valid format, e.g.,
              example@domain.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>