<div class="cart">
    <div class="cart__body">
    </div>

    <div class="cart__summary">
        <div class="cart__detail">
            <div class="cart__customer__detail">
            </div>

            <div class="cart__products__detail">
            </div>
        </div>

        <div class="cart__checkout">
            <div class="cart__checkout__item">
                <div class="cart__checkout__item__title">Order summary</div>
                <div class="cart__checkout__item__content">
                    <div class="cart__checkout__item__content__item">
                        <span class="cart__checkout__item__content__item__field">Number of items: </span>
                        <span id="numberOfItems" class="cart__checkout__item__content__item__value">0</span>
                    </div>

                    <div class="cart__checkout__item__content__item">
                        <span class="cart__checkout__item__content__item__field">
                            Subtotal:
                        </span>
                        <span id="subtotal" class="cart__checkout__item__content__item__value">
                            0
                        </span>
                    </div>

                    <div class="cart__checkout__item__content__item">
                        <span class="cart__checkout__item__content__item__field">
                            Shipping:
                        </span>
                        <span id="shipping" class="cart__checkout__item__content__item__value">
                            0
                        </span>
                    </div>

                    <div class="cart__checkout__item__content__item">
                        <span class="cart__checkout__item__content__item__field">
                            Total:
                        </span>
                        <span id="total" class="cart__checkout__item__content__item__value">
                            0
                        </span>
                    </div>
                </div>
            </div>

            <div class="cart__checkout__item">
                <div class="cart__checkout__item__title">Shipping detail</div>
                <div class="cart__checkout__item__content">
                    <select name="" id="shipping-method">
                        <option value="">Select Shipping Method</option>
                    </select>
                </div>
                <div class="cart__checkout__item__content">
                    <div class="cart__checkout_item__content__shipping-field">Address</div>
                    <textarea name="" id=""></textarea>
                </div>
                <div id="cart-payment-method">
                    <div class="cart__checkout__button" id="checkout-button">
                        <button>Checkout</button>
                    </div>

                    <div class="cart__checkout__button" id="pay-button">
                        <button>Purchase</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<script src="/apps/cart.js"></script>