<div class="order">
    <div class="order__header" id="testpopup">
        <h2>Orders</h2>
    </div>

    <div class="order__body">
        <div class="order__feature">
            <div class="order__feature__left">
                <div class="order__feature__item">
                    {{!-- <div class="order__feature__icon">
                        <i class="fa-solid fa-filter"></i>
                    </div>
                    <select name="" id="sort-options">
                        <option value="" selected disabled>Sort</option>
                        <option value="id">ID</option>
                        <option value="num-of-products">Num of products</option>
                        <option value="creation-time">Creation Time</option>
                        <option value="price">Price</option>
                        <option value="status">Status</option>
                    </select> --}}

                </div>
                <div class="order__feature__item">
                    <input type="text" placeholder="Search ID" id="search-order">
                    {{!-- <div class="order__feature__icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div> --}}
                </div>
            </div>

            <div class="order__feature__right">
                {{!-- <div class="order__feature__icon">
                    <i class="fa-solid fa-sort"></i>
                </div> --}}

                <div class="order__feature__item">
                    <label for="page-size">Page Size: </label>
                    <select id="page-size">
                        <option value="4">4</option>
                        <option value="8"selected>8</option>
                        <option value="12">12</option>
                    </select>
                </div>

                <select name="" id="status-options">
                    <option value="" selected>Status</option>
                    <option value="processing">Processing</option>
                    <option value="pending">Pending</option>
                    <option value="delivered">Delivered</option>
                    <option value="completed">Completed</option>
                    <option value="cancelled">Cancelled</option>
                </select>



            </div>
        </div>

        <div class="order__table">
            {{!-- <div class="order__table__header">
                <div class="order__table__items">
                    <div class="order__table__item">ID</div>
                    <div class="order__table__item">Num of products</div>
                    <div class="order__table__item">Total price</div>
                    <div class="order__table__item">Creation Time</div>
                    <div class="order__table__item">
                        <div class="order__table__item__status"></div>
                    </div>
                </div>
            </div> --}}
            <div class="order__table__header">
                <div class="order__table__items">
                    <div class="order__table__item" id="sort-id">ID</div>
                    <div class="order__table__item" id="sort-products">Num of products</div>
                    <div class="order__table__item" id="sort-price">Total price</div>
                    <div class="order__table__item" id="sort-time">Creation Time</div>
                    <div class="order__table__item" id="sort-status">Status</div>
                </div>
            </div>


            <div class="order__table__data">
                <div class="order__table__items">
                    <div class="order__table__item">Empty</div>
                    <div class="order__table__item">Empty</div>
                    <div class="order__table__item">Empty</div>
                    <div class="order__table__item">Empty</div>
                    <div class="order__table__item">
                        <div class="order__table__item__status"></div>
                    </div>
                </div>
            </div>
            <div class="order__table__footer">
                <div class="order__table__number" id="order__count"></div>
                    <div id="pagination-controls" class="pagination-controls">
                        <div>
                            <button id="prev-page" class="navigation_button">Previous</button>
                        </div>
                        <div id="current-page">1</div>
                        <div>
                            <button id="next-page" class="navigation_button">Next</button>
                        </div>

                    </div>
                </div>




                {{!-- <div class="order__table__button">
                    <button>
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <button>
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div> --}}
            </div>
        </div>
    </div>
</div>

<div id="order-details-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="close-button">&times;</span>
        <h2>ORDER DETAILS</h2>
        {{!-- <div class="order-details">
            <div class="customer-info">
                <h3>Customer</h3>
                <p><b>Name:</b> <span id="customer-name"></span></p>
                <p><b>Email:</b> <span id="customer-email"></span></p>
                <p><b>Address:</b> <span id="customer-address"></span></p>
            </div>
            <div class="order-info">
                <h3>Order Info</h3>
                <p><b>Order ID:</b> <span id="order-id"></span></p>
                <p><b>Created Time:</b> <span id="order-time"></span></p>
                <p><b>Shipping address:</b> <span id="shipping-address"></span></p>
                <p><b>Shipping fee:</b> <span id="shipping-fee"></span></p>

                <p><b>Shipping:</b> <span id="order-shipping"></span></p>
                <p><b>Total Price:</b> <span id="order-total-price"></span></p>
                <p><b>Shipper:</b> <span id="order-shipper"></span></p>
            </div>
        </div> --}}
        <div class="order-details">
            <div class="order-details__columns">
                <div class="customer-info">
                    <h3>Customer</h3>
                    <p><b>Name:</b> <span id="customer-name"></span></p>
                    <p><b>Email:</b> <span id="customer-email"></span></p>
                    <p><b>Address:</b> <span id="customer-address"></span></p>
                </div>
                <div class="order-info">
                    <h3>Order Info</h3>
                    <p><b>Order ID:</b> <span id="order-id"></span></p>
                    <p><b>Created Time:</b> <span id="order-time"></span></p>
                    <p><b>Shipping Address:</b> <span id="shipping-address"></span></p>
                    <p><b>Shipping Fee:</b> <span id="shipping-fee"></span></p>
                    <p><b>Shipping:</b> <span id="order-shipping"></span></p>
                    <p><b>Total Price:</b> <span id="order-total-price"></span></p>
                    <p><b>Shipper:</b> <span id="order-shipper"></span></p>
                </div>
            </div>
        </div>

        <div class="product-list">
            <h3>Products</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="product-list"></tbody>
            </table>
        </div>
        <button id="close-modal">Close</button>
    </div>
</div>

<script src="/apps/order.js"></script>
