.cart {
    margin: 60px 0;
    padding: 20px;
    display: flex;
}

.cart .cart__body {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

/* .cart__left {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
} */

.cart__left {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 120px;
    aspect-ratio: 3/2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: #f9f9f9;
    /* Optional: Thêm màu nền */
}

.cart__left img {
    max-width: 75%;
    max-height: 75%;
    object-fit: cover;
    border-radius: inherit;
    background-color: #ffa500;
    /* Làm tròn giống container */
}

.card__right {
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__item {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
    margin: 20px;
}

.cart__item~.cart__item {
    margin-top: 20px;
}



.cart__item>button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff00;
    color: #000;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.cart__item>button:last-child {
    right: 30px;
}

.cart__item+.cart__item {
    margin-top: 20px;
}


.cart__item__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart__item__title .cart__product__name span {
    font-size: 1rem;
    font-weight: 700;
}

/* .cart__item__title .cart__product__description span {
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: 700;
    white-space: nowrap;
    overflow: ellipsis;
} */
.cart__item__title .cart__product__description span {
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: 700;
    overflow: hidden;
    /* Ẩn văn bản vượt quá kích thước */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm khi văn bản bị cắt */
    display: inline-block;
    /* Đảm bảo span có thể thay đổi kích thước */
    max-width: 400px;
    /* Thiết lập chiều rộng tối đa cho span */
}

.card__item__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__product__price span {
    font-size: 1rem;
    font-weight: 700;
    background-color: #ffa500;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

.cart__item__btn {
    display: flex;
    justify-content: center;
    border: 2px solid #ffa500;
    border-radius: 10px;
    overflow: hidden;
}

.cart__item__btn button {
    background-color: #ffa500;
    border: none;
    padding: 2px 5px;
    font-weight: 700;
    cursor: pointer;
}


.cart__item__btn span {
    font-weight: 700;
    font-size: 14px;
    padding: 0 15px;
}

.cart__summary {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 20px;
}

.cart .cart__checkout {
    margin-top: 20px;
}

.cart .cart__checkout,
.cart .cart__detail {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    height: fit-content;
    padding: 20px;
}

.cart__checkout__item__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.cart__checkout__item__content {
    margin: 10px 0;
}

.cart__checkout_item__content__shipping-field {
    text-align: center;
    font-weight: 600;
}

.cart__checkout__item__content textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.cart__checkout__item__content select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.cart__checkout__item__content__item__field {
    font-weight: 700;
}

.cart__checkout_item__content__shipping-field {
    text-align: center;
}

.cart__checkout__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cart__checkout__button button {
    padding: 10px 20px;
    background-color: #ffa500;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

/* .cart__checkout__item__content__item__value {} */

.cart__products__detail .cart__products__detail__title,
.cart__customer__detail .cart__customer__detail__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.cart__customer__detail__content .cart__customer__detail__item {
    margin: 5px 0;
}

.cart__customer__detail__content .cart__customer__detail__item span:first-child {
    font-weight: 700;
}

#checkout_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cart__body input[type="checkbox"] {
    display: none;
}

.cart__body input[type="checkbox"]:checked+label {
    background-color: #ffa500;
    color: #fff;
}

.cart__body input[type="checkbox"]:checked+label .cart__item__btn {
    border-color: #fff;
}

.cart__body input[type="checkbox"]:checked+label .cart__item__btn button {
    background-color: #fff;
    color: #ffa500;
}

.cart__body input[type="checkbox"]:checked+label .card__product__price span {
    background-color: #fff;
    color: #ffa500;
}

#cart-payment-method {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.cart__checkout__button{
    margin: 0px 20px;
}

@media (max-width: 768px) {
    .cart {
        flex-direction: column;
    }

    .cart__body {
        height: unset !important;
        width: 100% !important;
        padding: 10px !important;
        
    }
    .cart__item {
        width: 100%;
        margin: 0px 0px !important;
        
    }

    .cart__summary {
        margin-left: 0;
        margin-top: 20px;
    }
}


