.order {
    margin-top: 50px;
    padding: 20px;
}

.order__header {
    width: 100%;
    text-align: center;
}


.order__feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order__feature__left {
    display: flex;
}

.order__feature__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .order__feature__item+.order__feature__item {
    margin-left: 10px;
} */

.order__body{
    height: 100vh;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.order__body .order__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}


.order__table__footer,
.order__table__data,
.order__table__header {
    width: 100%;
    padding: 5px 10px;
}

.order__table__footer,
.order__table__header {
    /* background-color: #ffa500; */
    background-color: var(--navy-color);
    font-weight: 700;
    color: #fff;
}

.order__table__items {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0px;
}

.order__table__item {
    text-align: center;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.order__table__item:nth-child(1) {
    flex: 2;
}

.order__table__item:nth-child(2) {
    flex: 2;
}

.order__table__item:nth-child(3) {
    flex: 3;
}

.order__table__item:nth-child(4) {
    flex: 3;
}

.order__table__item:nth-child(5) {
    flex: 1;
}

.order__table__item .order__table__item__icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}


.order__table__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.order__table__button {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order__table__button button {
    background-color: transparent;
    border: none;
    margin: 0 5px;
}

.order__table__button button i {
    font-size: 20px;
    color: #fff;
}

.order__table__item.sort-asc::after {
    content: ' ▲'; /* Mũi tên lên */
    color: gray;
    margin-left: 5px;
}

.order__table__item.sort-desc::after {
    content: ' ▼'; /* Mũi tên xuống */
    color: gray;
    margin-left: 5px;
}

.order__feature__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-order {
    margin-right: 10px;
}

#status-options {
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--navy-color);
}

.navigation_button{
    background-color: white;
    color: var(--navy-color);
    border: none;
    padding: 9px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.navigation_button:hover{
    background-color: var(--navy-color-hover);
    color: white;
    transform: scale(1.05);
}

#current-page {
    width: 50px;
    text-align: center;
}

#pagination-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-order{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--navy-color);
}

#page-size{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--navy-color);
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px; /* Khoảng cách giữa các nút */
    margin-top: 20px;
}

.pagination-button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #e0e0e0;
}

.pagination-button.active {
    background-color: var(--navy-color-hover);
    color: white;
    font-weight: bold;
    border-color: #0056b3;
}
